html{
    scroll-behavior: smooth;
}

body{

   /* background-image: url(testBildiPhone3.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    
}

li, a{

    font-family: sans-serif;
    
    color:black;
    
}
.navLinks, li, a{
    transition: all 0.3s ease 0;
}
a:link{

    text-decoration: none;
}



header{
    color:green; 
    background-color:red; 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

    border:solid black 3px;
}

.navLinks{
    display:flex;
    

}

.navLinks li{
    display: inline-block;
    margin: 1rem;
}
.content{
    
    background-color: aqua;
    display: flex;
    flex-direction: column;
    
    

    
}


.personligInfo{
    background-color: orange; 

    
    display: flex;
    flex-direction: column;
    justify-content:center; 
    align-self: center;
    

    width: 20%;
    margin-left: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 1rem;
    /*border-left: solid black 3px;
    border-bottom: solid black 3px;*/
    border: solid black 3px;

}

.cv{
    background-color: green; 

    display:flex; 
    flex-direction: column;
    justify-content: center; 
    
    width: 60%;
    padding-left: 5px;
    /*border-left: solid black 3px;
    border-right: solid black 3px;
    border-bottom: solid black 3px;
    */
    border:solid black 3px;
}

.kontaktInfo{
    background-color: blueviolet; 

    display:flex;
    flex-direction: column;
    /*justify-content: flex-end; */
    align-self: flex-end;

    width: 20%;
    padding-left: 5px;
    margin-right: 1rem;
    margin-left: 1rem;
    border:solid black 3px;
    /*
    border-right: solid black 3px;
    border-bottom: solid black 3px;
    */
    
}

footer{
    background-color: grey;
    color: blue;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding-left: 5px;
    text-align: left;
    border:solid black 3px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}